/* .container{
    display: flex;
    /* width: 960px; */
    /* max-width: 100%;
    background-color: rgb(0, 0, 0);

}

/* .container img{
    max-width: 100%;
} */
/* img {
    width: 300px;
    height: 300px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 1em;
    width: 550px;
    flex-wrap: nowrap;
}

.imagem{
    display: inline-block;
    padding: 10px;
}


.texto{
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.texto p{
    display: flex;
    align-items: center;
    bottom: 0;
    position: relative;
    /* top: 10px; */
    /* right: 20px; */
    /* font-size: 20px;
    text-shadow: 0px 0px 5px black;
}  */

html {
    /* font-family: 'Fira Code', monospace; */
    font-family: 'Public Sans', sans-serif;
}

main{
    display: flex;
    /* background-color: blueviolet; */
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.container .pinturas{
    width: 335px;
    height: 431px;
    position: relative;
}

.container .pinturas img{
    width: 100%;
    
}

.container .pinturas .informacoes {
    position: absolute;
    /* background-color: burlywood; */
    color: white;
    bottom: 40px;
    left: 20px;
}

.container .pinturas .informacoes .titulo {
    font-size: 30px;
    margin-bottom: 8px;
}

.container .pinturas .informacoes .subtitulo {
    font-size: 17px;
    font-weight: 300;
}
